html, body {
    background-color: #234D20;
    font-family: sans-serif, calibri;
    color: #232F20;
    margin 0;
    padding-bottom: 25px;
    padding-top: 1%;
}
.widthContainer{
    width: 100%;
}
.container {
    background-color: #36802D;
    padding: 2%;
    text-align: center;
}
.container1 {
    float:left;
    min-width: 31%;
    max-width: 300px;
}
.container2 {
    float:right;
    min-width: 58%;
    border: 2% #36802D;
    margin: 0% 0% 0% 3%;
    max-width: 620px;
}
.halfContainerL {
    float:left;
    min-width: 44%;
    max-width: 480px;
    border: 2% #36802D;
    display: block;
}
.halfContainerR {
    float:right;
    min-width: 44%;
    max-width: 480px;
    border: 2% #36802D;
    margin: 0% 0% 0% 4%;
    height: auto;
    display: block;
}


.content {
    background-color: #77AB59;
    text-align:center;
        padding: 2%;
            text-align: left;
    /*text-indent: 2.0em;*/
}
.paragraph {
    background-color: #77AB59;
    text-align:left;
    padding: 3% 3% 3% 3%;
    text-indent: 2.0em;
}
.flexor {
    flex: 1;
}
.button{
    background-color: #77AB59;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.spanner{
    width:88%;
    max-width: 960px;
    text-align: center;
    background-color: #36802D;
    margin: 4% 5% 2% 5%;
    margin-right: auto;
    margin-left: auto;
    clear:both;
    text-align: center;
}
.menu {
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}
.head {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
}
.items {
    margin-top: 1px;
    background-color: #234D20;
    display: flex;
}
/*
Light Green: #C9DF8A
Off White: #F0F7DA
http://960.gs/demo.html
http://www.w3schools.com/css/css_boxmodel.asp
http://www.w3schools.com/howto/howto_css_animate_buttons.asp
*/