body {
    background-color: #441B09;
    font-family: sans-serif, calibri;
    color: #EEDD99;
}
#container {
    background-color: #9E3800;
    width: 85%;
    padding: 25px;
    border: 25px #9E3800;
    margin: 5% auto;
    text-align: center;
    max-width: 850px;
}
#heading {
    
}
#content {
    background-color: #C87100;
    text-align:left;
    text-indent: 2.0em;
}