body {
    background-color: #234D20;
    font-family: sans-serif, calibri;
    color: #232F20;
}
#container1 {
    float:left;
    background-color: #36802D;
    width: 38%;
    padding: 2%;
    border: 2% #36802D;
    margin: 2% 3% 0% 5%;
    /* TOP RIGHT BOTTOM LEFT*/
    text-align: center;
    max-width: 750px;
}
#heading {
    
}
#content {
    background-color: #77AB59;
    text-align:center;
    /*text-indent: 2.0em;*/
}
#container2 {
    float:right;
    background-color: #36802D;
    width: 38%;
    padding: 2%;
    border: 2% #36802D;
    margin: 2% 4% 0% 3%;
    text-align: center;
    max-width: 750px;
}
#bottom {
    clear:both;
    width:88%;
    text-align: center;
    background-color: #36802D;
    margin: 4% 3% 5% 5%;
    padding: 20px;
    display: inline-block;
}
#top {
    font-size: 22px;
    clear:both;
    width:88%;
    text-align: center;
    background-color: #36802D;
    margin: 4% 3% 2% 5%;
    padding: 20px;
    display: inline-block;
}
/*
Light Green: #C9DF8A
Off White: #F0F7DA

*/